*{
    margin: 0;
    padding: 0;
}
header, aside, main, footer {
    border: 1px solid black;
    margin: 2%;
}
#container{
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
}
header{
    height: 100px;
    text-align: center;
}
main{
    float: right;
    width: 70%;
    height: 760px;
    text-align: center;
}
aside{
    clear: left;
    float: left;
    width: 20%;
    height: 200px;
    overflow: auto;
}
footer{
    clear: both;
    bottom: 0;
    width: 96%;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2%;
}
section{
    margin: 3%;
    height: 40%;
    width: 27%;
    border: 1px black solid;
    float: left;
}